<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="article">
    <h1 class="Middle-title" th:text="${author.firstName} + ' ' + ${author.lastName}">Борис Васильевич Бедный
    </h1>
    <article class="Article">
        <div class="sdf">
        </div>
        <div class="Spoiler">
            <div class="Spoiler-visible">
                <div class="pict pict_left"><img th:src="${author.photo}" alt="card.jpg"/>
                </div>
                <div>
                    <h2 th:text="#{menu.author_biography}">Биография
                    </h2>
                    <div id="visible_paragraphs"></div>
                </div>
            </div>
            <div class="Spoiler-hide">
                <div id="hidden_paragraphs"></div>
            </div>
            <div class="Spoiler-footer">
                <button class="Spoiler-trigger btn btn_primary btn_nr" type="button" th:data-showtext="#{menu.hide}"
                        th:data-hidetext="#{menu.show_more}">
                </button>
            </div>
        </div>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var description = /*[[${author.description}]]*/ 'default';
            var paragraphs = description.split('\n');
            var visibleParagraphs = document.getElementById('visible_paragraphs');
            var hiddenParagraphs = document.getElementById('hidden_paragraphs');

            for (var i = 0; i < paragraphs.length; i++) {
                var p = document.createElement('p');
                p.textContent = paragraphs[i];

                if (i < 2) {
                    visibleParagraphs.appendChild(p);
                } else {
                    hiddenParagraphs.appendChild(p);
                }
            }
            /*]]>*/
        </script>
    </article>
</div>
</html>