<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="panel(bookSlug, bookFiles)">
    <div class="ProductCard-cart">
        <div class="ProductCard-cartElement">
            <button class="btn btn_primary btn_outline" data-sendstatus="KEPT" th:data-bookid="${bookSlug}"
                    data-btntype="check" data-btnradio="buyblock" data-check="false"
                    th:data-alttext="#{cart.postponed}" data-url="/changeBookStatus"><span class="btn-icon"><img
                    src="/assets/img/icons/heart.svg" alt="heart.svg"/></span><span
                    class="btn-content" th:text="#{cart.postpone}">Отложить</span>
            </button>
        </div>
        <div class="ProductCard-cartElement">
            <button class="btn btn_primary btn_outline" data-sendstatus="CART" th:data-bookid="${bookSlug}"
                    data-btntype="check" data-btnradio="buyblock" data-check="false"
                    th:data-alttext="#{cart.in_cart}" data-url="/changeBookStatus"><span class="btn-icon"><img
                    src="/assets/img/icons/shopping-basket.svg"
                    alt="shopping-basket.svg"/></span><span class="btn-content" th:text="#{cart.buy}">Купить</span>
            </button>
        </div>
    </div>
    <div class="ProductCard-cart">
        <div class="ProductCard-cartElement">
            <a class="btn btn_primary btn_outline" href="#" id="downloadButton">
                <span class="btn-icon">
                    <img src="/assets/img/icons/download.svg" alt="download.svg"/>
                </span>
                <span class="btn-content" th:text="#{menu.download}">Скачать
                </span>
            </a>
            <div id="myPopup" class="popup">
                <p th:text="#{menu.links}">Ссылки для скачивания</p>
                <div th:each="bookFile : ${bookFiles}">
                    <a href="#" th:href="${'/download/' + bookFile.hash}"
                       th:text="${bookFile.fileTypeName}">
                    </a>
                </div>
                <span id="myPopup__close" class="close">❎
                </span>
            </div>
            <div id="myOverlay" class="overlay">
            </div>
        </div>
        <div class="ProductCard-cartElement">
            <button class="btn btn_primary btn_outline" data-sendstatus="ARCHIVED"
                    th:data-bookid="${bookSlug}" data-btntype="check" data-btnradio="buyblock"
                    data-check="false" th:data-alttext="#{menu.back_from_archive}" data-url="/changeBookStatus"><span class="btn-icon"><img
                    src="/assets/img/icons/archive.svg" alt="archive.svg"/></span><span
                    class="btn-content" th:text="#{menu.archive}">В архив</span>
            </button>
        </div>
    </div>
</div>
</html>