<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div class="Cards Cards_refresh" th:fragment="pool">
    <div class="Cards">
        <div class="Card" th:each="book: ${booksList}">
            <div class="Card-picture">
                <a th:href="@{'/books/' + ${book.slug}}">
                    <img th:src="${book.image}" alt="card.jpg"/>
                </a>
            </div>
            <div class="card-content">
                <strong class="Card-title">
                    <a th:href="@{'/books/' + ${book.slug}}" th:text="${book.title}"></a>
                </strong>
                <div class="Card-description" th:text="${book.authorFirstName} + ' ' + ${book.authorLastName}"></div>
                <div class="card cost">
                    <span class="Card-priceOld" th:if="${book.discount != 0}"
                          th:text="'₽' + ${#numbers.formatDecimal(book.price, 1, 2)}">
                    </span>
                    <span class="Card-price" th:text="'₽' + ${#numbers.formatDecimal(book.price * (100 - book.discount) / 100, 1, 2)}">
                    </span>
                    <span class="Cart-sale" th:if="${book.discount != 0}"
                          th:text="'-' + ${#strings.toString(book.discount)} + '%'">-30%
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="Cards-footer Cards-footer_center">
        <a class="btn btn_primary" href="#"
           th:attr="data-refreshshow=${(category == 'New Releases' || category == 'Новинки') ? 'recent'
                              : (category == 'Popular' || category == 'Популярное') ? 'popular'
                              : (category == 'Books by tags' || category == 'Книги по тегам') ? 'tag'
                              : (category == 'Genres' || category == 'Жанры') ? 'genre'
                              : (category == 'Authors' || category == 'Авторы') ? 'author'
                              : ''},
                   data-refreshoffset='1', data-refreshlimit='10',
                   data-refreshid=${(category == 'Books by tags' || category == 'Книги по тегам') ? tagQuery
                              : (category == 'Genres' || category == 'Жанры') ? genreQuery
                              : (category == 'Authors' || category == 'Авторы') ? authorSlug
                              : ''}"
           th:text="#{menu.show_more}">
            Показать еще
        </a>
    </div>
</div>
</html>