<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div class="ProductCard-desc" th:fragment="bookDesc(book, bookFiles, starRates, tags, ratesCount, authStatus, curUser)">
    <div class="ProductCard-header">
        <h1 class="ProductCard-title" th:text="${book.title}">Мара и морок
        </h1>
        <div class="ProductCard-author">
            <span class="ProductCard-titleProp" th:text="#{menu.author}">
                Автор:
            </span>&#32;
            <a th:href="@{'/authors/' + ${book.authorSlug}}" th:text="${book.authorFirstName} + ' ' + ${book.authorLastName}">
                Лия Арден
            </a>
        </div>
        <div class="ProductCard-rating">
            <span class="ProductCard-titleProp" th:text="#{menu.rating}">Рейтинг:
            </span>
            <button class="trigger trigger_dropdown" type="button">
                <div class="Rating Rating_noStyleLink">
                    <span class="Rating-stars">
                        <span class="Rating-star Rating-star_view" th:each="i : ${#numbers.sequence(0, book.rating - 1)}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                <g>
                                    <g>
                                        <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z">
                                        </path>
                                    </g>
                                </g>
                            </svg>
                        </span>
                    </span>
                    <span class="Rating-title" th:text="'(' + ${ratesCount} + ')'">
                    </span>
                </div>
                <div class="modal modal_compression modal_dropdown">
                    <div class="modal-window">
                        <a class="modal-close" href="#">
                            <span>
                            </span>
                            <span>
                            </span>
                        </a>
                        <strong class="modal-title" th:text="#{menu.score_distribution}">Распределение оценок
                        </strong>
                        <div class="RatingGroup">
                            <span th:each="entry : ${starRates}">
                                <span class="Rating">
                                    <span class="Rating-stars">
                                        <!-- Yellow stars -->
                                        <span th:each="star : ${#numbers.sequence(1, entry.key)}" class="Rating-star Rating-star_view">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                                <g>
                                                    <g>
                                                        <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z">
                                                        </path>
                                                    </g>
                                                </g>
                                            </svg>
                                        </span>
                                        <!-- Grey stars -->
                                        <span th:if="${entry.key < 5}" th:each="star : ${#numbers.sequence(entry.key + 1, 5)}" class="Rating-star">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                                <g>
                                                    <g>
                                                        <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z">
                                                        </path>
                                                    </g>
                                                </g>
                                            </svg>
                                        </span>
                                    </span>
                                    <span class="Rating-title" th:text="${entry.value}">
                                    </span>
                                </span>
                                <br>
                            </span>
                        </div>
                    </div>
                </div>
            </button>
        </div>
        <div class="ProductCard-assessment">
            <span class="ProductCard-titleProp" th:text="#{menu.evaluate}">Оцените книгу:
            </span>
            <span class="Rating Rating_input" th:attr="data-bookid=${book.id}">
                <span class="Rating-stars">
                    <span th:each="i : ${#numbers.sequence(1, 5)}" class="Rating-star" th:attr="data-value=${i}" onclick="submitRating(event)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                                <g>
                                    <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z">
                                    </path>
                                </g>
                            </g>
                        </svg>
                        <input name="rating" type="radio" th:field="*{book.rating}" th:value="${i}"/>
                    </span>
                </span>
            </span>
        </div>
        <div class="ProductCard-tags">
            <span class="ProductCard-titleProp" th:text="#{menu.tags}">Теги:</span>&#32;
            <th:block th:each="tag : ${tags}">
                <a class="ProductCard-tag" th:href="@{'/tags/index?tag=' + ${tag.name}}" th:text="${tag.name}"></a>
                <span th:unless="${tagStat.count} == ${tags.size()}">, </span>
            </th:block>
        </div>
        <div class="ProductCard-cost"><span class="ProductCard-titleProp" th:text="#{cart.price}">Цена:</span>
            <span class="ProductCard-priceOld" th:text="'₽' + ${#numbers.formatDecimal(book.price, 1, 2)}"></span>
            <span class="ProductCard-price" th:text="'₽' + ${#numbers.formatDecimal(book.price * (100 - book.discount) / 100, 1, 2)}"></span>
        </div>
    </div>
    <div class="ProductCard-text">
        <p th:text="${book.description}"></p>
    </div>
    <div th:replace="~{fragments/book_slug_buttons_fragment :: panel(book=${book}, bookFiles=${bookFiles}, authStatus=${authStatus}, curUser=${curUser})}"></div>
</div>
</html>