<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="reviewBlock(reviews, authStatus)">
    <div class="Comments">
        <div th:each="review : ${reviews}" class="Comment">
            <div class="Comment-column Comment-column_pict">
                <div class="Comment-avatar">
                </div>
            </div>
            <div class="Comment-column">
                <header class="Comment-header">
                    <div>
                        <strong class="Comment-title" th:text="${review.userName}"></strong>
                        <span class="Comment-rating" th:with="rating=${review.likes - review.dislikes}">
                            <span class="Rating Rating_comment">
                                    <span class="Rating-stars" th:if="${rating > 0}" th:each="i: ${#numbers.sequence(1, rating < 6 ? rating : 5)}">
                                        <span class="Rating-star Rating-star_view">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                                <g>
                                                    <g>
                                                        <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z">
                                                        </path>
                                                    </g>
                                                </g>
                                            </svg>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        <span class="Comment-date" th:text="${#temporals.format(review.time, 'dd.MM.yyyy HH:mm')}">
                        </span>
                    </div>
                </header>
                <div class="Comment-content">
                    <p th:text="${review.text}">
                    </p>
                    <div class="Comment-footer">
                        <div class="Comment-appeal">
                            <button class="btn btn_white btn_like" data-btntype="check" data-check="false"
                                    data-btnradio="two2" th:data-likeid="${review.id}">
                                <span class="btn-icon"><img
                                        src="/assets/img/icons/comment/like.svg" alt="like.svg"/></span>
                                <span class="btn-content" th:text="${review.likes}"></span>
                            </button>
                            <button class="btn btn_white btn_dislike" data-btntype="check" data-check="false"
                                    data-btnradio="two2" th:data-likeid="${review.id}">
                                <span class="btn-icon"><img
                                        src="/assets/img/icons/comment/dislike.svg" alt="dislike.svg"/></span>
                                <span class="btn-content" th:text="${review.dislikes}"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>