<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<footer class="Footer" th:fragment="footer">
  <div class="wrap">
    <div class="row Footer-main">
      <div class="row-block"
           th:replace="~{fragments/footer_left_side_info_block_fragment :: block}"></div>
      <div class="row-block">
        <ul class="menu menu_vt Footer-menu">
          <li class="menu-item"><a class="menu-link" th:href="@{/}" th:text="#{menu.home}" href="/index.html">Главная</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{/genres}" th:text="#{menu.genres}" href="/genres/index.html">Жанры</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{/books/recent}" th:text="#{menu.recent}" href="/books/recent.html">Новинки</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{/books/popular}" th:text="#{menu.popular}" href="/books/popular.html">Популярное</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{/authors}" th:text="#{menu.authors}" href="/authors/index.html">Авторы</a>
          </li>
        </ul>
      </div>
      <div class="row-block">
        <ul class="menu menu_vt Footer-menu">
          <li class="menu-item"><a class="menu-link" th:href="@{/signin}" th:text="#{menu.signin}" href="/signin.html">Войти</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{/documents}" th:text="#{menu.documents}" href="/documents/index.html">Документы</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{/about}" th:text="#{menu.about}" href="/about.html">О компании</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{/faq}" th:text="#{menu.faq}" href="/faq.html">Помощь</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:href="@{/contacts}" th:text="#{menu.contacts}" href="/contacts.html">Контакты</a>
          </li>
          <p>
            <span th:text="#{footer.languageSelection}"></span>
            <select id="locales" onchange="location.href=this.value;">
              <option th:value="'?lang=en' + (${param.get('query') != null ? ('&amp;query=' + param.get('query')) : ''})"
                      th:selected="${#locale.toString() == 'en'}"
                      th:text="#{footer.englishLanguage}"></option>
              <option th:value="'?lang=ru' + (${param.get('query') != null ? ('&amp;query=' + param.get('query')) : ''})"
                      th:selected="${#locale.toString() == 'ru'}"
                      th:text="#{footer.russianLanguage}"></option>
            </select>
          </p>
        </ul>
      </div>
    </div>
  </div>
  <div class="Footer-copy">
    <div class="wrap">© 2023 Bookshop Stradivari1390 Ltd. ALL RIGHTS RESERVED
    </div>
  </div>
</footer>
</html>