<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{main.title}">Магазин 📚</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="/favicon.ico" rel="shortcut icon">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=88436650">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=88436650">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=88436650">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script defer src="/assets/js/utils.js"></script>
    <script defer src="/assets/js/scripts.min.js?v=88436650"></script>
</head>
<body class="Site">
<header class="Header"
        th:replace="~{fragments/common_header_fragment :: head(status='authorized')}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs"
                th:replace="~{fragments/breadcrumb_fragment :: breadcrumps(category=#{menu.my_books})}"></ul>
            <div class="Section">
                <div class="Section-header">
                    <h1 class="Section-title" th:text="#{menu.my_books}">Мои книги
                    </h1>
                    <div class="Section-header-links"><span class="Section-header-link Section-header-link_ACTIVE" th:text="#{menu.unread}">Непрочитанные
                    </span>
                        <a class="Section-header-link" th:href="@{/myArchive}" href="/myarchive.html" th:text="#{menu.archive}">Архив
                        </a>
                    </div>
                </div>
                <div class="Cards">
                    <div class="Card">
                        <div class="Card-picture">
                            <a href="#">
                                <img src="/assets/img/content/main/card.jpg" alt="card.jpg"/>
                            </a>
                            <div class="Card-sale">30% скидка
                            </div>
                            <div class="Card-ribbon">
                                <span class="Card-ribbonText">Бестселлер
                                </span>
                            </div>
                            <a class="Card-status" title="Куплена">
                                <img src="/assets/img/icons/check.svg" alt="check.svg"/>
                            </a>
                            <a class="Card-status" title="В корзине">
                                <img src="/assets/img/icons/shopping-basket.svg" alt="shopping-basket.svg"/>
                            </a>
                            <a class="Card-status" title="Отложена">
                                <img src="/assets/img/icons/heart.svg" alt="heart.svg"/>
                            </a>
                        </div>
                        <div class="Card-content">
                            <strong class="Card-title"><a href="#">My book</a>
                            </strong>
                            <div class="Card-description">Samurai Petrovich
                            </div>
                            <div class="Card-cost"><span class="Card-priceOld">₽300.00</span><span class="Card-price">₽190.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>