<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{main.title}">Магазин 📚</title>
    <meta name="description" content="Описание страницы"></meta>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"></meta>
    <link href="/favicon.ico" rel="shortcut icon"></link>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous"></link>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous"></link>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous"></link>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous"></link>
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=45744385"></link>
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=45744385"></link>
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=45744385"></link>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script defer="defer" src="/assets/js/scripts.min.js?v=45744385"></script>
</head>
<body class="Site">
<header class="Header"
        th:replace="~{fragments/common_header_fragment :: head(status=${authStatus}, curUser=${curUsr})}"></header>
<div class="Middle">
    <div class="Middle-top">
        <div class="wrap">
            <h1 class="Middle-title" th:text="#{profile.profile}">Личный кабинет
            </h1>
        </div>
    </div>
    <div class="wrap">
        <main class="Middle-main">
            <h2 class="Middle-title" th:text="#{profile.my_profile}">Мой профиль
            </h2>
            <div class="Tabs Tabs_default">
                <div class="Tabs-links">
                    <a class="Tabs-link Tabs-link_ACTIVE" href="#basic" th:text="#{profile.basic}">Основные сведения</a>
                    <a class="Tabs-link" href="#transactions" th:text="#{profile.transaction_history}">История транзакций</a>
                    <a class="Tabs-link" href="#topup" th:text="#{profile.topup}">Пополнить счет</a>
                </div>
                <div class="Tabs-wrap">
                    <div class="Tabs-block" id="basic">
                        <div class="Profile">
                            <form class="form Profile-form" th:action="@{/updateProfile}" method="post">
                                <div class="row">
                                    <div class="row-block">
                                        <div class="form-group">
                                            <label class="form-label" for="name" th:text="#{profile.name}">Имя
                                            </label>
                                            <input class="form-input" id="name" name="name" type="text" th:value="${curUsr.name}" th:placeholder="#{profile.stanley}"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="mail" th:text="#{login.type.email}">E-mail
                                            </label>
                                            <input class="form-input" id="mail" name="mail" type="text"
                                                   th:value="${curUsr.email}" placeholder="addr@site.com" data-validate="require mail"/>
                                            <div class="Profile-btn Profile-btn_confirm">
                                                <button class="btn btn_primary" type="button" th:text="#{login.submit}">Подтвердить
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="phone" th:text="#{login.type.phone}">Телефон
                                            </label>
                                            <input class="form-input" id="phone" name="phone" type="text"
                                                   th:value="${curUsr.phone}" placeholder="+1234567890" data-mask="+62 (999) 9999-9999"
                                                   data-validate="require"/>
                                            <div class="Profile-btn Profile-btn_confirm">
                                                <button class="btn btn_primary" type="button" th:text="#{login.submit}">Подтвердить
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-block">
                                        <div class="form-group">
                                            <label class="form-label" for="password" th:text="#{profile.password}">Пароль
                                            </label>
                                            <input class="form-input" id="password" name="password" type="password"
                                                   th:placeholder="#{profile.change_pass}"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="passwordReply" th:text="#{profile.pass_submit}">Подтверждение пароля
                                            </label>
                                            <input class="form-input" id="passwordReply" name="passwordReply"
                                                   type="password" th:placeholder="#{profile.repeat_pass}"/>
                                        </div>
                                        <div class="form-group">
                                            <div class="Profile-btn">
                                                <button class="btn btn_danger" type="button" th:text="#{profile.cancel}">Отменить
                                                </button>
                                                <button class="btn btn_primary" type="submit" th:text="#{profile.save}">Сохранить
                                                </button>
                                            </div>
                                            <div class="Profile-success" th:text="#{profile.save_success}">Профиль успешно сохранен
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="Tabs-block" id="transactions">
                        <div class="Transactions">
                            <div class="tableWrap">
                                <table class="table table_noMargin">
                                    <thead>
                                    <tr>
                                        <th th:text="#{profile.date_time}">Дата и время
                                        </th>
                                        <th th:text="#{profile.total}">Сумма
                                        </th>
                                        <th th:text="#{profile.description}">Описание
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>15 мая 2017 10:03
                                        </td>
                                        <td><span class="Transactions_textSuccess">
                            <strong>+500 р.
                            </strong></span>
                                        </td>
                                        <td th:text="#{profile.balance_topup}">Пополнение счета
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="Transactions-footer Transactions-footer_center"><a
                                    class="btn btn_primary Transactions-get" href="#" data-transactionoffset="10"
                                    data-transactionlimit="10" data-transactionsort="asc" th:text="#{menu.show_more}">Показать еще</a>
                            </div>
                        </div>
                    </div>
                    <div class="Tabs-block" id="topup">
                        <form class="form Topup" th:action="@{/topup}" method="post" data-sendHash="34534535">
                            <div class="Topup-wrap">
                                <strong class="Topup-title" th:text="#{profile.topup_sum}">Enter a sum for topup:
                                </strong>
                                <div class="form-group form-group_row Topup-group">
                                    <input class="form-input" id="sum" name="sum" type="text"/>
                                    <span th:text="#{profile.rubles}">rubles
                                    </span>
                                </div>
                                <div class="form-group">
                                    <div class="Topup-btn">
                                        <button class="btn btn_primary" th:text="#{profile.do_topup}">Topup
                                        </button>
                                    </div>
                                </div>
                                <input type="hidden" th:value="${curUsr.hash}" id="hash" name="hash"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>